* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: rgb(43, 41, 41);
}
.top-section1 ul {
  color: white;
  border: 2px black dashed;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px red dashed;
  flex-direction: row;
  list-style: none;
}
.top-section2 {
  /* background-image: url(../img/ParisHilton.jpg);
  background-size: 50%;
  background-repeat: no-repeat; */
  color: white;

  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px red dashed;
  flex-direction: row-reverse;
  list-style: none;
}

#img-profil {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

#youtube-logo {
  height: 4vh;
  width: 10vh;
}

.top-menu li {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.tope-menu + i {
  border: 2px solid black;
  width: 10vh;
  height: 40px;
}
.section3 {
  display: flex;
  height: 80vw;
  width: 80vh;

  flex-direction: column;
}

.side-menu {
  display: flex;

  align-self: flex-start;
  height: 80vh;
  flex-direction: column;
}

.top-box1,
.subscribe-box,
.main-menu {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}

.top-box1 {
  display: flex;
  justify-content: space-around;
  height: 11rem;
  border: 2px red dashed;
  background-image: url(../img/profil-photo.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
