* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* body {
  background-color: rgb(43, 41, 41);
} */
.top-section1 ul {
  border: 2px black dashed;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px red dashed;
  flex-direction: row;
}
#img-profil {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
#youtube-logo {
  height: 5vh;
  width: 10vh;
}

.top-menu li {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.tope-menu + i {
  border: 2px solid black;
  width: 10vh;
  height: 40px;
}
