* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: rgb(43, 41, 41);
}
.top-section1 ul {
  color: white;
  border: 2px black dashed;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px red dashed;
  flex-direction: row;
  list-style: none;
}
.top-section2 {
  /* background-image: url(../img/ParisHilton.jpg);
  background-size: 50%;
  background-repeat: no-repeat; */
  color: white;

  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px red dashed;
  flex-direction: row-reverse;
  list-style: none;
}

#img-profil {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

#youtube-logo {
  height: 4vh;
  width: 10vh;
}

.top-menu li {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.tope-menu + i {
  border: 2px solid black;
  width: 10vh;
  height: 40px;
}
.section3 {
  display: flex;
  height: 39vw;
  width: 100vh;

  flex-direction: column;
}

.side-menu {
  display: flex;
  width: 20vw;
  align-self: flex-start;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.side-menu ul {
  display: flex;
  flex-direction: column;
}
.top-box1,
.subscribe-box,
.main-menu {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}
.top-box1 {
  justify-self: inherit;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  border: 2px red dashed;
  background-image: url(../img/profil-photo.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.top-box1 ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 6rem;
}
.top-box3 {
  display: flex;
  margin-top: 6rem;
}

ul {
  list-style: none;
}
#midel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#logo-size {
  margin-bottom: 6px;
  height: 3rem;
  width: 4rem;
  border-radius: 100%;
}
#text1 {
  font-family: "Great Vibes", cursive;
  font-size: 23px;
  letter-spacing: 5px;
}
.top-box1 ul li {
  display: flex;
  flex-direction: column;
}
#text2 {
  font-family: "Fira Sans", sans-serif;

  font-family: "Great Vibes", cursive;
}
#smal-photo {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.subscribe-box {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
}

.subscribe-box ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}
.subscribe-box ul {
  display: flex;
  flex-direction: row;
}
h1 {
  font-size: 23px;
}
h4 {
  font-size: 15px;
  color: #a9a9a9;
}
.subscribe-box i {
  color: #a9a9a9;
}
#button {
  height: 2.5rem;
  width: 8rem;
  background-color: #db0000;
}
.main-menu a {
  color: #a9a9a9;
}
.main-menu ul li {
  display: inline-block;
  margin: 0.5rem;
  height: 1.5rem;

  font-family: cursive;
}
a {
  text-decoration: none;
  transition: 0.5s;
  font-size: 15px;
  color: #a9a9a9;
  background-color: #1e1e1e;
}
a:hover {
  border-bottom: 3px solid rgb(202, 201, 201);
  transform: scale(2);
  color: rgb(202, 201, 201);
}
.main-menu {
  background-color: #1e1e1e;
}
